.c-report {

	u {

		font-size: 24px;
		letter-spacing: 1px;
		text-decoration: none;
	}
}

#reports-list {

	.related-lessons {

		ol {

			column-count: 3;
		}
	}
}

#course-users {

	table {
		width: 100%;

		th {
			width: 25%;
		}
	}
}