.comment-list {
  @extend .list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

// .c-featured-comment {
//   margin-bottom: 4rem;

//   &__item {
//     background: #fafcfd;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     padding-top: 70px;
//     padding-bottom: 75px;
//     border-radius: 5px;
//     width: 100%;

//     @include media-breakpoint-down(lg) {
//       padding-top: 40px;
//       padding-bottom: 40px;
//     }

//     @include media-breakpoint-down(md) {
//       padding-top: 30px;
//       padding-bottom: 30px;
//     }

//     > * {
//       @extend .col-md-11;
//       @extend .col-xl-10;
//     }

//     .comment-meta {
//       border-top: 0;
//       padding-top: 0;
//       margin-top: 0;
//     }
//   }

//   .comment-content {
//     font-size: 0.9375rem;
//     line-height: 1.7;
//   }
// }

.wpulike-heart .wp_ulike_put_image:disabled:active, .wpulike-heart .wp_ulike_put_image:disabled:focus, .wpulike-heart .wp_ulike_put_image:disabled:hover, .wpulike-heart .wp_ulike_put_image[disabled="disabled"]:active, .wpulike-heart .wp_ulike_put_image[disabled="disabled"]:focus, .wpulike-heart .wp_ulike_put_image[disabled="disabled"]:hover

.wpulike {
  padding: 0;

  &-heart {

    .wp_ulike_general_class {
      // padding: 7px 5px;
      // border-radius: 5px;
      padding: 4px;
      box-shadow: none;
      border-radius: 0;
      position: relative;
    }

    .wp_ulike_put_image {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      padding: 20px 60px 20px 15px;
      cursor: pointer;
      z-index: 1;

      &:after {
        left: 15px;
        transform: translateY(-50%);
      }

      &:disabled:hover,
      &:disabled:focus {
      padding: 20px 60px 20px 15px;
      }
    }

    .count-box {
      position: absolute;
      padding: 0;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
    }
  }

  .wp_ulike_is_loading {

    .wp_ulike_btn {
      background-position: 14px center;
    }
  }
}
