.opinia {
	display: grid;
	grid-template-areas: "title img" "desc img";
	grid-template-columns: auto 150px;
	grid-column-gap: 40px;
	background: $tile-bg;
	padding: 0 0 0 15px;
	margin-bottom: 30px;
	box-shadow: 0 12px 13px rgba(black, 0.09);
	color: white;
	transition: background .3s;
	will-change: background;
	position: relative;

	@include media-breakpoint-up(md) {
		grid-column-gap: 60px;
	}

	&__img {
		grid-area: img;
		object-fit: cover;
		width: 150px;
		height: 221px;
	}

	&__title {
		grid-area: title;
		font-weight: 500;
		margin-top: 25px;
		font-size: 20px;

		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
	}

	&__desc {
		grid-area: desc;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		margin-bottom: 12px;
		align-self: end;
		color: rgba(white, .5);

		@include media-breakpoint-up(md) {
			font-size: 12px;
		}
	}

	&:hover {
		background: #1a1958;

		.opinia {

			&__title {
				color: white;
			}
		}
	}
}

.std-heading--opinie {
	margin-bottom: 36px;

	@include media-breakpoint-up(md) {
		margin-bottom: 48px;
	}
}