html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// body {
//   font-family: 'Montserrat', 'Helvetica', 'sans-serif';
// }

#app {
  overflow: hidden;
}

.container {
  &--padding {
    @include media-breakpoint-up(md) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &--full-width {
    width: 100%;
  }
}

#readout {
  background-color: white;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
}

.spin-loader {
  color: rgba(black, 0.4);
  display: flex;
  justify-content: center;
  margin: 100px 0 80px;
  font-size: 1.5rem;
  width: 100%;

  .spin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    line-height: 1;
  }
}

// p {
//   font-weight: 400;
// }

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.hidden {
  display: none !important;
}

hr {

  &.hr__lg {

    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}